body{
  /* background-image: linear-gradient(to bottom right, #C9E265, #086C8B); */
  color: aliceblue;
  background-image: linear-gradient(to bottom right,#000000, #086C8B);
  background-attachment:fixed;
  height:100%;
}